.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background-image: url("https://wallpapersite.com/images/pages/pic_h/2350.jpg");
  background-attachment: scroll;
  background-position: center;
  height: 1000px;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightskyblue;
  border-top: 20px solid blue;
  border-bottom: 20px solid blue;
}

.nav-header {
  color: white;
  font-size: 3.0rem;
  padding: 0 35px;
}

.nav-links-container {
  width: 275px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 35px;
}

.nav-links-container a {
  font-size: 1.6rem;
  text-decoration: none;
  color: red;
}

.smurfs-container {
  margin-top: 140px;
  background-color: lightskyblue;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-bottom: 50px solid red;
}

.smurfs-header {
  background-color: white;
  width: 100%;
  margin-top: 0;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;
}

.smurfs-cards-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.smurf-card {
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  border-radius: 5px;
  border: 3px solid blue;
}

.smurf-form-container {
  margin-top: 140px;
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid red;
  border-radius: 10px;
  background-color: lightskyblue;
}

.smurf-form-container button {
  width: 75%;
  height: 35px;
  font-size: 1.2rem;
  border-radius: 20px;
  margin-top: 15px;
  background-color: blue;
  color: white;
  border: 2px solid white;
}

.smurf-form-container button:hover {
  cursor: pointer;
  background-color: white;
  color: blue;
  border: 2px solid red;
}

.smurf-form-header {
  color: red;
  font-size: 2.4rem;
  text-align: center;
}

.smurf-form {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smurf-form input {
  width: 90%;
  height: 25px;
  border-radius: 5px;
  margin: 5px 0;
  text-align: center;
  font-size: 1.4rem;
}